.about {
    width: 50%;
    height: 80%;
    overflow-y: scroll;    
    text-align: center;
    border-radius: 20px;

    background-color: white;
    color: #353234;
    
    h1 {
        font-size: 60px;
    }
}
