.about {
    width: 910px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1325px 1185px 1185px 100vh;
    grid-gap: 50px;
    overflow-y: auto;    
    text-align: center;

    .closeButton {
        display: none;
    }

    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.about::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.cardOne {
    height: 1185px;
    align-self: end;
    border-radius: 20px;
    background: white;

    display: grid;
    grid-template-columns: 658px;
    grid-template-rows: 234px 48px 638px;
    justify-content: center;

    h1 {
        font-size: 64px;
        font-weight: 600;
        color: #353234;
        margin: 0;
        align-self: end;
    }

    h2 {
        font-size: 32px;
        font-weight: 500;
        color: #353234;
        margin: 0;
        align-self: end;
    }

    img {
        align-self: center;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        color: #353234;
        margin: 0;
        align-self: start;
    }
}

.cardTwo {
    display: grid;
    grid-template-columns: 658px;
    grid-template-rows: 337px 147px 200px;
    justify-content: center;
    border-radius: 20px;
    background: white;

    h1 {
        font-size: 64px;
        font-weight: 600;
        color: #353234;
        margin: 0;
        align-self: end;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        color: #353234;
        margin: 0;
        align-self: end;
    }

    img {
        align-self: end;
    }
}

.cardThree {
    border-radius: 20px;
    background: white;
    display: grid;
    grid-template-columns: 910px;
    grid-template-rows: 227px 142px;
    justify-content: center;

    h1 {
        font-size: 64px;
        font-weight: 600;
        color: #353234;
        margin: 0;
        align-self: end;
        height: 82px;
    }

    h2 {
        font-size: 36px;
        font-weight: 500;
        color: #353234;
        margin: 0;
        align-self: start;
        height: 54px;
    }

    .bottom {
        display: grid;
        grid-template-columns: 475px 435px;

        .leftText {
            display: grid;
            grid-template-columns: 349px;
            grid-template-rows: 43px 102px 43px 102px 43px 154px 43px;
            justify-content: right;
            text-align: left;

            h3 {
                font-size: 22px;
                font-weight: 600;
                color: #353234;
                margin: 0;
                align-self: start;
            }

            p {
                font-size: 16px;
                font-weight: 500;
                color: #353234;
                margin: 0;
                align-self: start;
                width: 290px;
            }
        }

        img {
            align-self: start;
        }

    }
}

.cardFour {
    border-radius: 20px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 64px;
        font-weight: 600;
        color: white;
        margin: 0;
        align-self: end;
    }

    h2 {
        display: grid;
        grid-template-columns: 400px;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        color: white;
        align-self: end;
        text-align: center;
        margin-bottom: 32px;
        margin-top: 20px;
    }

    .box {
        display: grid;
        grid-template-columns: 400px;
        justify-content: center;

        button {
            align-self: end;
            width: 400px;
            height: 60px;
            border-radius: 100px;
            border: none;
            outline: none;
            background: linear-gradient(-50deg, #3344BC, #6B7BF0);
    
            font-size: 14px;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            color: white;
        }
    }
}

@media screen and (max-width: 734px) {

    .about {
        width: 355px;
        grid-template-rows: 93px 667px 698px 698px 100vh;
        // grid-template-rows: 760px 659px 659px 100vh;
        // grid-gap: 39px;
        grid-gap: 0px;

        .closeButton {
            display: flex;
            align-self: flex-end;
            justify-self: flex-end;
        }
    }

    .cardOne {
        height: 659px;
        grid-template-columns: 250px;
        grid-template-rows: 174px 62px 269px;
    
        h1 {
            font-size: 48px;
            line-height: 53px;
        }
    
        h2 {
            font-size: 24px;
            line-height: 26px;
            font-weight: 400;
        }
    
        img {
            width: 250px;
            align-self: center;
        }
    
        p {
            font-size: 10px;
        }
    }

    .cardTwo {
        height: 659px;
        align-self: end;
        grid-template-columns: 250px;
        grid-template-rows: 241px 95px 140px;
    
        h1 {
            font-size: 40px;
            line-height: 44px;
        }
    
        p {
            font-size: 10px;
        }
    
        img {
            width: 250px;
            align-self: end;
        }
    }

    .cardThree {
        height: 659px;
        align-self: end;
        grid-template-columns: 355px;
        grid-template-rows: 96px 74px;
    
        h1 {
            font-size: 37px;
            height: 51px;
        }
    
        h2 {
            font-size: 24px;
            font-weight: 400;
            height: 36px;
        }
    
        .bottom {
            display: grid;
            grid-template-columns: 202px 153px;
    
            .leftText {
                display: grid;
                grid-template-columns: 149px;
                grid-template-rows: 25px 50px 25px 65px 25px 110px 25px;
    
                h3 {
                    font-size: 13px;
                }
    
                p {
                    font-size: 10px;
                    width: 125px;
                }
            }
    
            img {
                width: 153px;
                align-self: center;
                padding-bottom: 35px;
            }
    
        }
    }

    .cardFour {
    
        h1 {
            font-size: 48px;
        }
    
        h2 {
            display: grid;
            grid-template-columns: 250px;
            justify-content: center;
            font-size: 10px;
        }
    
        .box {
            display: grid;
            grid-template-columns: 250px;
    
            button {
                align-self: end;
                width: 250px;
                height: 50px;
                border-radius: 100px;
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 1068px) and (min-width: 735px) {
    .about {
        width: 637px;
        grid-template-rows: 1070px 930px 930px 100vh;
        grid-gap: 50px;
    }

    .cardOne {
        height: 930px;
        grid-template-columns: 465px;
        grid-template-rows: 174px 36px 494px;
    
        h1 {
            font-size: 45px;
        }
    
        h2 {
            font-size: 24px;
            font-weight: 400;
        }
    
        img {
            width: 465px;
            align-self: center;
        }
    
        p {
            font-size: 16px;
        }
    }

    .cardTwo {
        grid-template-columns: 465px;
        grid-template-rows: 242px 130px 226px;
    
        h1 {
            font-size: 45px;
        }
    
        p {
            font-size: 16px;
        }
    
        img {
            width: 465px;
            align-self: end;
        }
    }

    .cardThree {
        grid-template-columns: 637px;
        grid-template-rows: 174px 129px;
    
        h1 {
            font-size: 45px;
            height: 68px;
        }
    
        h2 {
            font-size: 30px;
            font-weight: 400;
            height: 45px;
        }
    
        .bottom {
            display: grid;
            grid-template-columns: 372px 265px;
    
            .leftText {
                display: grid;
                grid-template-columns: 286px;
                grid-template-rows: 37px 72px 37px 72px 37px 114px 37px;
    
                h3 {
                    font-size: 18px;
                }
    
                p {
                    font-size: 14px;
                    width: 239px;
                }
            }
    
            img {
                width: 265px;
                align-self: center;
                padding-bottom: 120px;
            }
    
        }
    }

    .cardFour {
    
        h1 {
            font-size: 48px;
        }
    
        h2 {
            display: grid;
            grid-template-columns: 350px;
            justify-content: center;
            font-size: 16px;
            margin-bottom: 22px;
            margin-top: 10px;
        }
    
        .box {
            display: grid;
            grid-template-columns: 350px;
    
            button {
                align-self: end;
                width: 350px;
                height: 55px;
                border-radius: 100px;
                font-size: 13px;
            }
        }
    }
    
}