// .catalog {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(400px, 409.33px));
//     justify-content: center;
//     grid-gap: 40px;
// }

.stockxLogo {
    height: 51.67px;
    width: 100px;
}

.goatLogo {
    height: 33px;
    width: 105.46px;
}

.grailedLogo {
    height: 18.67px;
    width: 150px;
}

.flightclubLogo {
    height: 33px;
    width: 136px;
}