/* Web Version Filter Bar */

.mobile-filters {
    display: none;
}

.desktop-filters {
    display: flex;
    justify-content: center;
    padding: 70px 0px;
}

.filters, .clear {
    width: 150px;
    height: 60px;
    border-radius: 16px;
    outline: none;
    background: #F6F6F6;
    box-shadow: -4px -4px 12px rgba($color: #FFFFFF, $alpha: 1.0),
                4px 4px 12px rgba($color: #000000, $alpha: 0.15);

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.filters {
    color: #6B7BF0;
    margin-right: 10px;
}

.clear {
    cursor: pointer;
    color: #F090AC;
    margin-left: 10px;
}

.three-filters {
    display: flex;

    .sizeFilter, .priceFromFilter, .priceToFilter {
        display: flex;

        height: 60px;
        border-radius: 16px;
        background: #F6F6F6;
        margin: 0px 10px;
        box-shadow: -4px -4px 12px rgba($color: #FFFFFF, $alpha: 1.0),
                    4px 4px 12px rgba($color: #000000, $alpha: 0.15);

        ::placeholder {
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #353234;
        }

        .sizeText, .priceFromText, .priceToText {
            display: flex;
            align-items: center;
            padding-left: 14px;

            font-size: 14px;
            font-weight: 400;
            color: #8F8F8F;
        }

        input {
            width: 80px;
            padding: 0px 14px;
            outline: none;
            background: none;

            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #353234;
            text-align: center;
        }
    }
}

// For (Chrome, Safari, Edge, Opera)
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// For (Firefox)
input[type=number] {
    -moz-appearance: textfield;
}



/* Mobile Version Filter Bar */

@media screen and (max-width: 1031px) {

    .desktop-filters {
        display: none;
    }

    .mobile-filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0px;
    }

    .filters, .clear {
        width: 195.391px;
    }

    .filters {
        cursor: pointer;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .clear {
        margin-left: 0px;
        margin-top: 10px;
    }

    .three-filters {
        flex-direction: column;

        .sizeFilter, .priceFromFilter, .priceToFilter {
            margin: 10px 0px;

            .sizeText, .priceFromText, .priceToText {
                width: 73.391px;
            }
        }
    }
}

// .filterBar {
//     display: flex;
//     justify-content: space-between;
//     width: 907px;
//     padding: 70px 0px;

//     ::placeholder {
//         font-family: 'Poppins', sans-serif;
//         font-size: 18px;
//         font-weight: 600;
//         color: #353234;
//     }
// }

// .filters, .clear {
//     width: 150px;
//     height: 60px;
//     border-radius: 16px;
//     border: none;
//     outline: none;
//     background: #F6F6F6;

//     font-size: 14px;
//     font-weight: 600;
//     color: #6B7BF0;
//     box-shadow: -4px -4px 12px rgba($color: #FFFFFF, $alpha: 1.0),
//                 4px 4px 12px rgba($color: #000000, $alpha: 0.15);
// }

// .clear {
//     color: #F090AC;
// }

// .sizeFilter {
//     background: #F6F6F6;
//     width: 151px;
//     height: 60px;
//     border-radius: 16px;
//     align-self: center;
//     outline: none;
//     box-shadow: -4px -4px 12px rgba($color: #FFFFFF, $alpha: 1.0),
//                 4px 4px 12px rgba($color: #000000, $alpha: 0.15);

//     .sizeText {
//         color: #989898;
//         float: left;
//         width: 63px;
//         height: 60px;
//         border-radius: 100px;
//         background: none;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 14px;
//         font-weight: 400;
//     }
    
//     .sizeBox {
//         border: none;
//         background: none;
//         outline: none;
//         float: right;filterrow
//         color: #353234;
//         font-family: 'Poppins', sans-serif;
//         font-size: 18px;
//         font-weight: 600;
//         transition: 0.4s;
//         line-height: 60px;
//         width: 88px;
//         padding: 0;
//         text-align: center;
//     }
// }

// .priceFromFilter {
//     background: #f6f6f6;
//     width: 198px;
//     height: 60px;
//     border-radius: 16px;
//     align-self: center;
//     outline: none;
//     box-shadow: -4px -4px 12px rgba($color: #FFFFFF, $alpha: 1.0),
//                 4px 4px 12px rgba($color: #000000, $alpha: 0.15);

//     .priceFromText {
//         color: #989898;
//         float: left;
//         width: 109px;
//         height: 60px;
//         border-radius: 100px;
//         background: none;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 14px;
//         font-weight: 400;
//     }

//     .priceFromBox {
//         border: none;
//         background: none;
//         outline: none;
//         float: right;
//         color: #353234;
//         font-family: 'Poppins', sans-serif;
//         font-size: 18px;
//         font-weight: 600;
//         transition: 0.4s;
//         line-height: 60px;
//         width: 89px;
//         padding: 0;
//         text-align: center;
//     }
// }

// .priceToFilter {
//     background: #f6f6f6;
//     width: 200px;
//     height: 60px;
//     border-radius: 16px;
//     align-self: center;
//     outline: none;
//     box-shadow: -4px -4px 12px rgba($color: #FFFFFF, $alpha: 1.0),
//                 4px 4px 12px rgba($color: #000000, $alpha: 0.15);

//     .priceToText {
//         color: #989898;
//         float: left;
//         width: 91px;
//         height: 60px;
//         border-radius: 100px;
//         background: none;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 14px;
//         font-weight: 400;
//     }

//     .priceToBox {
//         border: none;
//         background: none;
//         outline: none;
//         float: right;
//         color: #353234;
//         font-family: 'Poppins', sans-serif;
//         font-size: 18px;
//         font-weight: 600;
//         transition: 0.4s;
//         line-height: 60px;
//         width: 109px;
//         padding: 0;
//         text-align: center;
//     }
// }

// .a-wrap {
//     display: flex;
//     justify-content: center;
// }

// .mobile-filters {
//     display: none;
// }

// // For (Chrome, Safari, Edge, Opera)
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }

// // For (Firefox)
// input[type=number] {
//     -moz-appearance: textfield;
// }


// @media (max-width: 1089px) and (min-width: 373px) {

//     .filterBar {
//         flex-direction: column;
//         width: 218px;

//         .filters, .clear {
//             align-self: center;
//         }
//     }

//     .a-wrap {
//         padding: 0px 24px;
//     }

//     .desktop-filters {
//         display: none;
//     }

//     .mobile-filters {
//         display: flex;
//     }

//     // .sizeFilter, .priceFromFilter, .priceToFilter {
//     //     display: none;
//     // }
// }


// @media screen and (max-width: 372px) {
//     .a-wrap {
//         padding: 0px 24px;
//     }

//     .sizeFilter, .priceFromFilter, .priceToFilter {
//         display: none;
//     }

//     .filterBar {
//         width: 252px;
//     }

//     .filters, .clear {
//         width: 120px;
//         font-size: 12px;
//     }
    
//     .desktop-filters {
//         display: none;
//     }

//     .mobile-filters {
//         display: flex;
//     }
// }


// @media screen and (max-width: 299px) {
//     .a-wrap {
//         padding: 0px 24px;
//     }

//     .sizeFilter, .priceFromFilter, .priceToFilter {
//         display: none;
//     }

//     .filterBar {
//         width: 223px;
//     }

//     .filters, .clear {
//         width: 104px;
//         font-size: 12px;
//     }

//     .desktop-filters {
//         display: none;
//     }

//     .mobile-filters {
//         display: flex;
//     }
// }
