.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(20px) brightness(0.7);
    


    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}