.navbar {
    height: 90px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $background;

    position: sticky;
    top: 0;
    z-index: 1;

    a, svg, button {
        text-decoration: none;
        font-size: 15px;
        padding: 0 20px 0 20px;
        color: $text-color;
        border: none;
        background: transparent;
        font-weight: 300;
        outline: none;
    }

    .caret-icon {
        padding-right: 0;
    }
}

.sanctuaryLogo {
    padding-left: 60px;
    font-size: 25px;
}

.shopBySite {
    text-align: center;
}

.navLinks {
    padding-right: 60px;

    display: flex;
    align-items: center;

    list-style-type: none;

    *:hover {
        color: $hover-blue;
    }
}

.shopBySiteMenu {
    background: white;

    position: absolute;
    top: 95px;

    width: 110px;
    transform: translateX(20px);

    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 
                0 2px 5px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
        padding: 8px 0 8px 10px;
        
    }
}