/* Mobile Version */

.navbarContent-web {
    display: none;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    height: 60px;
    border-bottom: 1px solid #DDDDDD;
    background: white;
    transition: all 300ms ease 0.1s;
}

.navbarContent-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0px 24px;

    .navlinks {
        cursor: pointer;
        background: none;
        outline: none;
        height: 20px;

        animation: fade-in-out 0.6s;

        svg {
            width: 20px;
            height: 20px;
            
            path {
                stroke: #353234;
            }
        }
    }

    a {
        display: flex;
        align-items: center;

        animation: fade-in-out 0.6s;

        .sanctuaryLogo {
            width: 100px;
        }

    }
    
    .nav-searchBar-mobile {
        display: flex;
        align-items: center;
        min-width: 20px;
        cursor: pointer;

        .searchBar-collapsed {
            display: flex;
            align-items: center;
            justify-content: center;

            animation: fade-in-out 0.6s;

            .searchIcon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .searchBar-expanded {
            display: flex;
            align-items: center;
            width: calc(100vw - 119px);
            height: 36px;
            background: #F1F1F1;
            border-radius: 10px;

            .searchIcon {
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    color: #707070;
                }
            }

            .mobileSearchText {
                width: calc(100% - 72px);
                height: 20px;
                background: none;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                color: #353234;
                outline: none;
                border: none;
                
            }
        }

        .cancelIcon-mobile {
            font-size: 13px;
            font-weight: 500;
            color: #2D72DB;
            width: 47px;
            margin-left: 24px;

            animation: fade-in-out 0.6s;
        }
    }
}



/* Desktop Version */
@media screen and (min-width: 930px) {

    .navbarContent-mobile {
        display: none;
    }

    .navbar {
        display: flex;
        height: 90px;
    }

    .navbarContent-web {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 132px);
        height: 90px;
        margin: 0px auto;
        padding: 0;
        transition: all 300ms ease 0.1s;

        a {
            display: flex;
            align-items: center;

           img {
               height: 40px;
           }
        }

        .content-right {
            display: flex;

            .nav-searchBar-web {
                display: flex;
                align-items: center;

                .searchBar-desktop {
                    background: #F4F4F4;
                    width: 450px;
                    animation: fade-in-out 0.6s;
                }
            }

            .navlinks {
                cursor: pointer;
                font-size: 14px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                color: #353234;
                background: none;
                padding: 0;
                text-decoration: none;
                outline: none;
                margin-left: 20px;
            }

            .navlinks:hover {
                background: none;
                color: #CA5257;
            }
        }
    }



}


// Good version!!!



.navbar-mobile {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    border-bottom: 1px solid #DDDDDD;
    background: #F5F5F7;
    z-index: 10;
    height: 60px;

    .navbar-mobile-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0px 24px;

        a {
            display: flex;

            .sanctuary-logo {
                height: 26px;
                animation: fade-in-out 0.6s;
            }
        }

        .icons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .searchBar-collapsed, .filterIcon, .hamburgerIcon, .profileIcon, .profilePicture {
                cursor: pointer;
                display: flex;
                animation: fade-in-out 0.6s;

                .searchIcon {
                    height: 18px;
                 }
            }

            .filterIcon {
                margin: 0px 23px;
            }

            .profile-button {
                width: 20px;
                height: 20px;
                border-radius: 100px;
                overflow: hidden;

                img, svg {
                    height: 20px;
                }
            }

            .searchBar-expanded {
                display: flex;
                align-items: center;
                width: calc(100vw - 119px);
                height: 36px;
                background: #EAEAEB;
                border-radius: 10px;

                .searchIcon {
                    display: flex;
                    margin: 0px 10px;

                    svg {
                        color: #707070;
                    }
                }

                .mobileSearchText {
                    width: calc(100% - 72px);
                    font-size: 16px;
                    font-weight: 300;
                    font-family: 'Poppins', sans-serif;
                    background: none;
                    outline: none;
                    border: none;
                    margin-top: 1px;
                }
            }

            .cancelIcon-mobile {
                font-size: 13px;
                font-weight: 500;
                color: #3478F6;
                width: 47px;
                margin-left: 24px;
                cursor: pointer;
            }
        }
    }
}

.hamburger-button, .profile-button {
    background: none;
    outline: none;
}

// Desktop

.navbar-desktop {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    border-bottom: 1px solid #DDDDDD;
    background: #F5F5F7;
    z-index: 10;
    height: 90px;

    .navbar-desktop-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0px 66px;

        a {
            display: flex;

            .sanctuary-logo-desktop {
                height: 37px;
            }
        }

        .navbar-desktop-links {
            display: flex;
            align-items: center;

            .searchBar-desktop {
                background: #E6E6E9;
                width: 400px;
                animation: fade-in-out 0.6s;
            }

            a {
                font-size: 14px;
                font-weight: 500;
                color: black;
                letter-spacing: 0.3px;
                text-decoration: none;
                margin-left: 20px;
                cursor: pointer;
            }

            a:hover {
                text-decoration: underline;
            }

            .navbar-desktop-create-account {
                font-weight: 600;
                color: #B14B63;
            }

            .navbar-desktop-profile-container {
                margin-left: 0px;
            }

            .navbar-desktop-profile {
                width: 35px;
                height: 35px;
                border-radius: 100px;
                overflow: hidden;
                margin-left: 20px;

                .navbar-desktop-profile-picture {
                    height: 35px;
                }

                .profileIcon {
                    height: 35px;

                    svg {
                        height: 35px;
                        width: 35px;
                    }
                }
            }
            
        }
    }
}
