.pageNotFoundText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;

    h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        padding: 0px 66px;
        color: #8F8F8F;
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (max-width: 929px) {

    .pageNotFoundText {

        h1 {
            padding: 0px 24px;
        }
    }
}