.dashboard {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left {
    display: grid;
    grid-template-columns: 198px 255px;
    grid-template-rows: 245px 200px;
    grid-gap: 17px;

    div {
        background: white;
        border-radius: 30px;
        text-align: center;
    }

    .shoe-model-container {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .shoe-model {
        // grid-column: 1/3;
        // grid-row: 1/2;

        // display: grid;
        // grid-template-columns: 369px;
        // justify-content: center;

        h2 {
            font-size: 28px;
            font-weight: 600;
            color: #353234;

            margin: 0;
            align-self: center;
        }
    }

    .shoe-size {
        display: grid;
        grid-template-rows: 84px 61px;

        h3 {
            font-size: 24px;
            font-weight: 500;
            color: #8F8F8F;
            margin: 0;
            align-self: end;
        }

        span {
            font-size: 44px;
            font-weight: 600;
            color: #353234;
            margin: 0;
            align-self: end;
        }
    }

    .shoe-condition {
        display: grid;
        grid-template-rows: 84px 61px;

        h3 {
            font-size: 24px;
            font-weight: 500;
            color: #8F8F8F;
            margin: 0;
            align-self: end;
        }

        span {
            font-size: 44px;
            font-weight: 600;
            color: #353234;
            margin: 0;
            align-self: end;
        }
    }
}

.middle {
    display: grid;
    grid-template-columns: 356px;
    grid-template-rows: 462px;

    div {
        background: white;
        border-radius: 35px;
        text-align: center;
    }

    .shoe-image {
        display: grid;
        grid-template-columns: 281px;
        justify-content: center;

        img {
            width: 100%;
            align-self: center;
        }
    }

}

.right {
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: 210px 91px 127px;
    grid-gap: 17px;

    div {
        background: white;
        border-radius: 30px;
        text-align: center;
    }

    .shoe-price {
        display: grid;
        grid-template-rows: 87px 63px;

        h3 {
            font-size: 24px;
            font-weight: 500;
            color: #8F8F8F;
            margin: 0;
            align-self: end;
        }

        span {
            font-size: 38px;
            font-weight: 600;
            color: #353234;
            margin: 0;
            align-self: end;
        }
    }

    .shoe-source {
        border-radius: 20px;
        display: grid;
        grid-template-columns: 120px;
        justify-content: center;

        img {
            width: 100%;
            align-self: center;
        }
    }

    .shoe-buy {
        display: grid;
        background: linear-gradient(-50deg, #D05FBB, #F092AC);

        span {
            align-self: center;

            a {
                font-size: 24px;
                font-weight: 600;
                color: white;
                text-decoration: none;
            }
        }
    }
}
