// WEB VERSION

.mobile-version {
    display: none;
}

.web-version {
    width: 960px;
    height: 410px;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 432px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .shoe-model-container {
        height: 223px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 30px;

        .shoe-model {
            width: 382px;
            height: 173px;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;

                font-size: 22px;
                font-weight: 600;
                color: #353234;
                text-align: center;
            }
        }
    }

    .size-and-condition {
        height: 170px;
        display: flex;
        justify-content: space-between;

        .shoe-size-container, .shoe-condition-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            border-radius: 30px;

            h3 {
                margin: 0px;
                font-size: 18px;
                font-weight: 500;
                line-height: 36px;
                color: #8F8F8F;
            }

            span {
                font-size: 22px;
                font-weight: 600;
                line-height: 34px;
                color: #353234;
            }

            .shoe-size, .shoe-condition {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                // padding: 30px;
            }
        }

        .shoe-size-container {
            width: 170px;
        }

        .shoe-condition-container {
            width: 245px;
        }
    }
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 304px;
    background: white;
    border-radius: 30px;

    .shoe-image {
        display: flex;
        align-items: center;
        width: 236px;
        height: 342px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

.right {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .shoe-price-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180px;
        background: white;
        border-radius: 30px;

        .shoe-price {
            text-align: center;
            padding: 25px;

            h3 {
                font-size: 18px;
                font-weight: 500;
                line-height: 36px;
                color: #8F8F8F;
                margin: 0px;
            }

            span {
                font-size: 24px;
                font-weight: 600;
                line-height: 34px;
                color: #353234;
            }
        }
    }

    .shoe-source-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        background: white;
        border-radius: 22px;

        .shoe-source {
            display: flex;
            align-items: center;

            img {
                width: 70px;
            }

        }
    }

    .shoe-buy-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 121px;
        background: linear-gradient(45deg, #E15895, #F8595D);
        border-radius: 30px;

        a {
            font-size: 18px;
            font-weight: 600;
            color: white;
            text-decoration: none;
        }
    }
}


@media (max-width: 1091px) and (min-width: 832px) {

    .web-version {
        width: 700px;
        height: 300px;
    }

    .left {
        width: 320px;
        height: 300px;

        .shoe-model-container {
            height: 160px;
            border-radius: 22px;

            .shoe-model {
                width: 280px;
                height: 120px;

                h2 {
                    font-size: 18px;
                }
            }
        }

        .size-and-condition {
            height: 130px;

            .shoe-size-container, .shoe-condition-container {
                border-radius: 22px;

                h3 {
                    font-size: 13px;
                    line-height: 24px;
                }

                span {
                    font-size: 16px;
                    line-height: 28px;
                }
            }

            .shoe-size-container {
                width: 130px;
            }

            .shoe-condition-container {
                width: 180px;
            }
        }
    }

    .middle {
        width: 220px;
        border-radius: 22px;
    
        .shoe-image {
            width: 172px;
            height: 252px;
        }
    }

    .right {
        width: 140px;
    
        .shoe-price-container {
            height: 130px;
            border-radius: 22px;
    
            .shoe-price {
                text-align: center;
                padding: 16px;
    
                h3 {
                    font-size: 13px;
                    line-height: 24px;
                }
    
                span {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    
        .shoe-source-container {
            height: 55px;
            border-radius: 17px;
    
            .shoe-source {
                display: flex;
                align-items: center;
    
                img {
                    width: 50px;
                }
    
            }
        }
    
        .shoe-buy-container {
            height: 95px;
            border-radius: 22px;
    
            a {
                font-size: 14px;
            }
        }
    }
}




@media screen and (max-width: 831px) {

    .web-version {
        display: none;
    }

    .mobile-version {
        display: flex;
        flex-direction: column;
        height: 542px;
        width: 320px;
        justify-content: space-between;

        .closeButton {
            align-self: center;
        }
    }

    .m-top {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 80px;
        background: white;
        border-radius: 20px;

        .m-shoe-model {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 280px;
            height: 60px;

            h2 {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;

                font-size: 12px;
                font-weight: 600;
                color: #353234;
                text-align: center;
            }

        }
    }

    .m-middle {
        display: flex;
        justify-content: space-between;

        .m-middle-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 192px;
            height: 338px;

            .m-shoe-image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 274px;
                background: white;
                border-radius: 20px;

                .m-shoe-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 228px;
                    width: 148px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }
            }

            .m-shoe-source {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 54px;
                background: white;
                border-radius: 16px;

                img {
                    width: 60px;
                }
            }
        }

        .m-middle-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 119px;
            height: 338px;

            .m-shoe-price-container, .m-shoe-size-container, .m-shoe-condition-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 106px;
                background: white;
                border-radius: 20px;

                .m-shoe-price, .m-shoe-size, .m-shoe-condition {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 90px;
                    height: 60px;
                }

                h3 {
                    margin: 0px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #8F8F8F;
                }

                span {
                    font-size: 13px;
                    font-weight: 600;
                    color: #353234;
                }

                .m-shoe-price, .m-shoe-size {

                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .m-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        border-radius: 18px;
        background: linear-gradient(45deg, #E15895, #F8595D);
        text-align: center;

        a {
            font-size: 16px;
            font-weight: 600;
            color: white;
            text-decoration: none;
        }
    }
}




// OLD VERSION

// .dashboard {
//     width: 1100px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

// }

// .mobile-version {
//     display: none;
// }

// .left {
//     display: grid;
//     grid-template-columns: 198px 255px;
//     grid-template-rows: 245px 200px;
//     grid-gap: 17px;

//     div {
//         background: white;
//         border-radius: 30px;
//         text-align: center;
//     }

//     .shoe-model-container {
//         display: flex;
//         align-items: center;
//         grid-column: 1/3;
//         grid-row: 1/2;
//     }

//     .shoe-model {
//         // grid-column: 1/3;
//         // grid-row: 1/2;

//         // display: grid;
//         // grid-template-columns: 369px;
//         // justify-content: center;

//         h2 {
//             font-size: 28px;
//             font-weight: 600;
//             color: #353234;

//             margin: 0;
//             align-self: center;
//         }
//     }

//     .shoe-size {
//         display: grid;
//         grid-template-rows: 84px 61px;

//         h3 {
//             font-size: 24px;
//             font-weight: 500;
//             color: #8F8F8F;
//             margin: 0;
//             align-self: end;
//         }

//         span {
//             font-size: 44px;
//             font-weight: 600;
//             color: #353234;
//             margin: 0;
//             align-self: end;
//         }
//     }

//     .shoe-condition {
//         display: grid;
//         grid-template-rows: 84px 61px;

//         h3 {
//             font-size: 24px;
//             font-weight: 500;
//             color: #8F8F8F;
//             margin: 0;
//             align-self: end;
//         }

//         span {
//             font-size: 44px;
//             font-weight: 600;
//             color: #353234;
//             margin: 0;
//             align-self: end;
//         }
//     }
// }

// .middle {
//     display: grid;
//     grid-template-columns: 356px;
//     grid-template-rows: 462px;

//     div {
//         background: white;
//         border-radius: 35px;
//         text-align: center;
//     }

//     .shoe-image {
//         display: grid;
//         grid-template-columns: 281px;
//         justify-content: center;

//         img {
//             width: 100%;
//             align-self: center;
//         }
//     }

// }

// .right {
//     display: grid;
//     grid-template-columns: 240px;
//     grid-template-rows: 210px 91px 127px;
//     grid-gap: 17px;

//     div {
//         background: white;
//         border-radius: 30px;
//         text-align: center;
//     }

//     .shoe-price {
//         display: grid;
//         grid-template-rows: 87px 63px;

//         h3 {
//             font-size: 24px;
//             font-weight: 500;
//             color: #8F8F8F;
//             margin: 0;
//             align-self: end;
//         }

//         span {
//             font-size: 38px;
//             font-weight: 600;
//             color: #353234;
//             margin: 0;
//             align-self: end;
//         }
//     }

//     .shoe-source {
//         border-radius: 20px;
//         display: grid;
//         grid-template-columns: 120px;
//         justify-content: center;

//         img {
//             width: 100%;
//             align-self: center;
//         }
//     }

//     .shoe-buy {
//         display: grid;
//         background: linear-gradient(-50deg, #D05FBB, #F092AC);

//         span {
//             align-self: center;

//             a {
//                 font-size: 24px;
//                 font-weight: 600;
//                 color: white;
//                 text-decoration: none;
//             }
//         }
//     }
// }
