.slider {
  height: 380px;

  .swiper-container {
    height: 380px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    width: auto;
  }  
}

.swiper-wrapper {
  margin-left: 66px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 18px !important;
  font-weight: 900 !important;
  color: #353234 !important;
}

.swiper-button-prev, .swiper-button-next {
  background: white;
  height: 50px !important;
  width: 50px !important;
  border-radius: 100px;
  transition: 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: -4px -4px 12px rgba($color: #000000, $alpha: 0.12),
                4px 4px 12px rgba($color: #000000, $alpha: 0.12);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background: #E2E2E2;
}

@media screen and (max-width: 929px) {
  .swiper-wrapper {
    margin-left: 24px;
  }
}