.slider {
  height: 380px;

  .swiper-container {
    height: 380px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    width: auto;
  }  
}

.swiper-wrapper {
  margin-left: 66px;
}

// .swiper-button-prev

@media screen and (max-width: 929px) {
  .swiper-wrapper {
    margin-left: 24px;
  }
}