.slider {

  padding: 40px 0px;

  .swiper-slide {
    width: auto;
  }  
}

.swiper-wrapper {
  margin-left: 66px;
}

// .swiper-button-prev

@media screen and (max-width: 929px) {
  .swiper-wrapper {
    margin-left: 24px;
  }
}