.sneaker {
    background-color: white;
    border-radius: 20px;
    margin: 5%;
    padding: 5%;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 
                0 5px 10px 0 rgba(0, 0, 0, 0.19);

    .sneakerImg {
        width: 100%;
    }

    .logo {
        width: 15%;
    }
}