/* Web */

.terms::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.terms {
    width: 910px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    .close-area {
        height: 130px;
        width: 910px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .termsCard {
        display: flex;
        justify-content: center;
        width: 910px;
        background: white;
        border-radius: 20px;
        margin-top: 10px;

        .termsCard-content {
            width: 658px;

            .terms-title {
                margin: auto;
                margin-top: 120px;
                margin-bottom: 60px;
                width: 530px;
                align-self: center;
                text-align: center;

                h1 {
                    margin-bottom: 40px;
                    font-size: 48px;
                    font-weight: 600;
                    color: #353234;
                }

                p {
                    margin-top: 15px;
                    font-size: 17px;
                }
            }

            .big-text {
                margin-top: 60px;
                margin-bottom: 10px;

                h1 {
                    line-height: 35px;
                    font-size: 24px;
                    font-weight: 600;
                    color: #353234;
                }
            }

            h2 {
                font-size: 18px;
                font-weight: 600;
                color: #353234;
                margin-top: 20px;
                margin-bottom: 8px;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            ul {
                margin-left: 18px;
                margin-top: 20px;
                margin-bottom: 20px;

                li {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }

            a {
                text-decoration: none;
                outline: none;
                color: #2D70C3;
            }

            a:hover {
                text-decoration: underline;
            }

            strong {
                font-weight: 600;
            }

            img {
                width: 100px;
                margin-bottom: 160px;
                margin-top: 30px;
            }
        }
    }
}

/* Tablet */

@media (max-width: 1068px) and (min-width: 735px) {

    .terms {
        width: 637px;

        .close-area {
            width: 637px;
        }

        .termsCard {
            width: 637px;

            .termsCard-content {
                width: 465px;

                .terms-title {
                    width: 465px;
                }
            }
        }
    }
}

/* Mobile */

@media screen and (max-width: 734px) {

    .terms {
        width: 355px;

        .close-area {
            width: 355px;
        }

        .termsCard {
            width: 355px;

            .termsCard-content {
                width: 260px;

                .terms-title {
                    width: 260px;

                    h1 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                p {
                    font-size: 13px;
                }

                img {
                    width: 90px;
                }
            }

        }
    }
}