@import "./_variables";
@import "./_navbar";
@import "./_splash";
@import "./_homeproducts";
@import "./_searchbar";
@import "./_sneaker";
@import "./_footer";
@import "./_shopheader";
@import "./_filterbar";

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    color: $text-color;
    background: $background;
    margin: 0;
}