@import "./_variables";
@import "./_navbar";
@import "./_splash";
@import "./_catalog";
@import "./_searchbar";
@import "./_sneaker";
@import "./_footer";
@import "./_filterbar";
@import "./_aboutus";
@import "./_privacy";
@import "./_shoemodal";

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $text-color;
    background: #F6F6F6;
    margin: 0;
}