.browse {
    .browse-results {
        height: 250px;
        background: #FFFFFF;

        .browse-results-wrapper {
            max-width: 1200px;
            height: 100%;
            padding: 0px 20px;
            margin: 0px auto;

            .browse-results-text {
                padding-top: 110px;

                h2 {
                    font-size: 34px;
                    font-weight: 600;
                    color: #000000;
                    line-height: 45px;
                    letter-spacing: -0.41px;
                }
            }
        }
    }

    .browse-catalog {
        background: #F7F9FC;
        padding-top: 120px;
        padding-bottom: 166px;
    }
}

@media (min-width: 920px) and (max-width: 1240px) {
    .browse {
        .browse-results {
            .browse-results-wrapper {
                max-width: 880px;
            }
        }
    }
}

@media (min-width: 620px) and (max-width: 919px) {
    .browse {
        .browse-results {
            .browse-results-wrapper {
                max-width: 580px;
            }
        }
    }
}

@media screen and (max-width: 619px) {
    .browse {
        .browse-results {
            height: 200px;

            .browse-results-wrapper {
                max-width: 335px;

                .browse-results-text {
                    padding-top: 80px;

                    h2 {
                        font-size: 28px;
                        letter-spacing: -0.28px;
                        line-height: 37px;
                    }
                }
            }
        }

        .browse-catalog {
            padding-top: 50px;
            padding-bottom: 100px;
        }
    }
}