.catalog {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.stockxLogo, .goatLogo, .grailedLogo, .flightclubLogo {
    margin-left: 66px;
}

.stockxLogo {
    height: 51.67px;
    width: 100px;
}

.goatLogo {
    height: 33px;
    width: 105.46px;
}

.grailedLogo {
    height: 18.67px;
    width: 150px;
}

.flightclubLogo {
    height: 33px;
    width: 136px;
}

.no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    text-align: center;
    
    h1 {
        padding: 0px 66px;
        color: #8F8F8F;
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (max-width: 929px) {
    .stockxLogo, .goatLogo, .grailedLogo, .flightclubLogo {
        margin-left: 24px;
    }

    .catalog {
        padding-bottom: 70px;
    }
}