// Background colour styling for different pages
.footer.white {
    background: #F7F9FC;
}

.footer.blue {
    background: #EEF1F6;
}

.footer-content {
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;

    .footer-links {
        display: flex;
        padding: 65px 0px;
        border-bottom: 1px solid #D2DAE9;

        .footer-links-logos {
            padding-right: 120px;

            .footer-logo {
                cursor: pointer;

                svg {
                    display: block;
                    width: 120px;
                    height: auto;
                }
            }

            .footer-social {
                display: flex;
                justify-content: space-between;
                width: 132px;
                padding-top: 25px;

                a {
                    svg {
                        display: block;
                    }
                }
            }
        }

        .footer-links-site {
            display: flex;

            .footer-link-text {
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 15px;
                    font-weight: 500;
                    color: #4A525E;
                    letter-spacing: -0.165px;
                    padding-right: 120px;
                }

                a {
                    font-size: 15px;
                    font-weight: 300;
                    color: #4A525E;
                    letter-spacing: -0.165px;
                    padding-top: 13px;
                    text-decoration: none;
                }
            }
        }
    }

    .footer-legal-currency {
        padding: 30px 0px;

        .footer-legal-currency-content {
            display: flex;
            justify-content: space-between;

            p {
                font-size: 13px;
                font-weight: 300;
                color: #919BB1;
                letter-spacing: -0.1905px;
            }

            .footer-currency {
                display: flex;

                p {
                    letter-spacing: -0.13px;
                    padding-right: 10px;
                }
            }
        }
    }
}








// .footer {
//     // background: #F7F9FC;
//     background: #F3F6FB;

//     .footer-wrapper {
//         width: 1000px;
//         margin: 0px auto;

//         .footer-links {
//             display: flex;
//             padding-top: 67px;
//             padding-bottom: 113px;

//             .footer-links-social {
//                 width: 253px;
//                 padding-right: 120px;

//                 .sanctuary-logo {
//                     height: 27px;
//                 }

//                 p {
//                     font-size: 15px;
//                     font-weight: 500;
//                     color: #4A525E;
//                     line-height: 22px;
//                     letter-spacing: -0.41px;

//                     padding: 25px 0px;
//                 }
//             }

//             .footer-links-map {
//                 display: flex;

//                 .footer-links-company, .footer-links-account, .footer-links-support {

//                     h2 {
//                         font-size: 18px;
//                         font-weight: 500;
//                         color: #4A525E;
//                         letter-spacing: -0.41px;

//                         padding-right: 120px;
//                     }

//                     p {
//                         font-size: 18px;
//                         font-weight: 400;
//                         color: #4A525E;
//                         letter-spacing: -0.41px;

//                         padding-top: 20px;
//                     }
//                 }
//             }
//         }

//         .footer-legal-and-currency {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             height: 92px;
//             border-top: 1px solid #D2DAE9;

//             .footer-legal {

//                 p {
//                     font-size: 13px;
//                     font-weight: 400;
//                     color: #919BB1;
//                     letter-spacing: -0.41px;
//                 }
//             }

//             .footer-currency {
//                 display: flex;

//                 p {
//                     font-size: 13px;
//                     font-weight: 400;
//                     color: #919BB1;
//                     letter-spacing: -0.41px;

//                     padding-right: 12px;
//                 }
//             }
//         }
//     }
// }










// // Bottom NavBar

// .bottomText {
//     height: 281px;
//     background: #F7F9FC;

//     .bottomText-content {
//         display: flex;
//         flex-direction: column;
//         -webkit-box-pack: justify;
//         justify-content: space-between;
//         -webkit-box-align: center;
//         align-items: center;
//         height: 100%;
//         width: calc(100% - 48px);
//         margin: 0px auto;
//         padding: 0px;
//         transition: all 600ms ease 0s;
//     }

//     ul {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: space-between;
//         list-style-type: none;
//         height: 102.51px;
//         margin-top: 50px;
        
//         a {
//             padding: 0px;
//         }
//     }

//     h3, a, svg, button{
//         font-weight: 400;
//         color: #353234;
//         margin: 0px;
//     }

//     h3 {
//         font-size: 8px;
//     }

//     a, svg, button {
//         font-size: 14px;
//         text-decoration: none;
//         background-color: transparent;

//         // &:hover {
//         //     text-decoration: underline;
//         // }
//     }

//     a:hover {
//         text-decoration: underline;
//     }

//     button {
//         cursor: pointer;
//         outline: none;
//     }
// }

// .bottomTextIcons {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-bottom: 20px;

//     .social-media {
//         width: 114px;
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 40px;

//         a {
//             height: 24px;
//         }

//         svg {
//             width: 24px;
//             height: 24px;
//         }

//         .twitter-icon {
//             color: #37B8FF;
//         }

//         .facebook-icon {
//             color: #1977F3;
//         }

//         .instagram-icon {
//             color: #DC6068;
//         }

//     }
// }


// // Footer 

// @media screen and (min-width: 1441px) {

//     .signUp {
//         flex-direction: row;
//         height: 560px;
//     }

//     .text-container {
//         width: calc(100vw - 453.13px);
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;
//         margin: 0px;
//         padding-left: 12px;
//         padding-right: 12px;

//         p, form {
//             display: flex;
//         }

//         p {
//             justify-content: flex-start;
//             font-size: 14px;
//             font-weight: 500;
//             padding-left: 0px;
//             padding-right: 0px;
//             margin-bottom: 16px;
//         }

//         form {
//             width: 693px;
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;

//             .input-container {
//                 width: 522px;
//                 margin: 0px;

//                 .inputBox {
//                     width: 478px;
//                 }

//                 ::placeholder {
//                     text-align: left;
//                 }
//             }

//             .submitButton-container {
//                 width: 152px;
//                 margin: 0px;
//             }
//         }
//     }

//     .footer-content {
//         h1 {
//             font-size: 48px;
//         }

//         h3 {
//             font-size: 18px;
//             width: 421px;
//             padding: 0px 0px;
//             margin-left: auto;
//             margin-right: auto;
//             margin-top: 15px;
//             margin-bottom: 55px;
//         }
//     }

//     .img-container {
//         align-items: flex-end;
//         height:  100%;
//         width: 453.13px;

//         img {
//             width: 453.13px;
//         }
//     }

//     .mobile-container {
//         display: none;
//     }
// }


// @media (max-width: 1440px) and (min-width: 1185px) {

//     .signUp {
//         flex-direction: row;
//         height: 560px;
//     }

//     .text-container {
//         width: 68%;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;
//         margin: 0px;
//         padding-left: 12px;
//         padding-right: 12px;

//         p, form {
//             display: flex;
//         }

//         p {
//             justify-content: flex-start;
//             font-size: 14px;
//             font-weight: 500;
//             padding-left: 0px;
//             padding-right: 0px;
//             margin-bottom: 16px;
//         }

//         form {
//             width: 693px;
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;

//             .input-container {
//                 width: 522px;
//                 margin: 0px;

//                 .inputBox {
//                     width: 478px;
//                 }

//                 ::placeholder {
//                     text-align: left;
//                 }
//             }

//             .submitButton-container {
//                 width: 152px;
//                 margin: 0px;
//             }
//         }
//     }

//     .footer-content {
//         h1 {
//             font-size: 48px;
//         }

//         h3 {
//             font-size: 18px;
//             width: 421px;
//             padding: 0px 0px;
//             margin-left: auto;
//             margin-right: auto;
//             margin-top: 15px;
//             margin-bottom: 55px;
//         }
//     }

//     .img-container {
//         align-items: flex-end;
//         height:  100%;
//         width: 32%;

//         img {
//             width: 100%;
//         }
//     }

//     .mobile-container {
//         display: none;
//     }
// }


// @media (max-width: 1184px) and (min-width: 930px) {

//     .signUp {
//         flex-direction: row;
//         height: 560px;
//     }

//     .text-container {
//         display: flex;
//         align-items: center;
//         margin: 0px;
//         padding: 0px 60px;

//         p, form {
//             display: flex;
//         }

//         p {
//             justify-content: center;
//             font-size: 11px;
//             font-weight: 500;
//             padding-left: 37.5px;
//             padding-right: 37.5px;
//             margin-bottom: 25px;
//         }

//         form {
//             display: flex;
//             flex-direction: column;

//             .input-container {
//                 width: 487px;
//                 margin: 0px auto;

//                 .inputBox {
//                     width: 443px;
//                 }
//             }

//             .submitButton-container {
//                 width: 487px;
//                 margin-left: auto;
//                 margin-right: auto;
//             }
//         }
//     }

//     .footer-content {
//         h1 {
//             font-size: 42px;
//         }

//         h3 {
//             font-size: 16px;
//             padding: 0px 62px;
//             margin-left: 0px;
//             margin-right: 0px;
//         }
//     }

//     .img-container {
//         height:  100%;

//         img {
//             width: 320px;
//         }
//     }

//     .mobile-container {
//         display: none;
//     }
// }


// @media (max-width: 929px) and (min-width: 709px) {

//     .signUp {
//         flex-direction: row;
//         height: 560px;
//     }

//     .text-container {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin: 0px;

//         p, form {
//             display: flex;
//         }

//         p {
//             justify-content: center;
//             font-size: 11px;
//             font-weight: 500;
//             padding-left: 37.5px;
//             padding-right: 37.5px;
//             margin-bottom: 25px;
//         }

//         form {
//             display: flex;
//             flex-direction: column;
//         }
//     }

//     .footer-content {
//         h1 {
//             font-size: 42px;
//         }

//         h3 {
//             font-size: 16px;
//             padding: 0px 80px;
//             margin-left: 0px;
//             margin-right: 0px;
//         }
//     }

//     .img-container {
//         height:  100%;

//         img {
//             width: 320px;
//         }
//     }

//     .mobile-container {
//         display: none;
//     }
// }


// @media (max-width: 708px) and (min-width: 655px) {
//     .footer-content {
//         h1 {
//             font-size: 42px;
//         }

//         h3 {
//             font-size: 16px;
//         }
//     }

//     .img-container {
//         height:  225px;

//         img {
//             width: 290px;
//         }
//     }

//     .mobile-container {
//         p {
//             font-size: 12px;
//             margin-left: 90px;
//             margin-right: 90px;
//         }
//     }
// }


// @media (max-width: 654px) and (min-width: 560px) {
//     .footer-content {
//         h1 {
//             font-size: 42px;
//         }

//         h3 {
//             font-size: 16px;
//         }
//     }

//     .img-container {
//         height:  225px;

//         img {
//             width: 290px;
//         }
//     }

//     .mobile-container {
//         p {
//             font-size: 12px;
//             margin-left: 90px;
//             margin-right: 90px;
//         }
//     }
// }

// // DO NOT TOUCH!!!!!!
// @media (max-width: 559px) and (min-width: 365px) {
//     .footer-content {
//         h1 {
//             font-size: 42px;
//         }

//         h3 {
//             font-size: 16px;
//         }
//     }

//     .img-container {
//         height:  225px;

//         img {
//             width: 225px;
//         }
//     }

//     .mobile-container {
//         p {
//             font-size: 12px;
//             margin-left: 90px;
//             margin-right: 90px;
//         }
//     }
// }


// // Bottom NavBar
// @media screen and (min-width: 930px) {

//     .bottomText {
//         height: 104px;
//         background: #F7F9FC;
    
//         .bottomText-content {
//             display: flex;
//             flex-direction: row;
//             width: calc(100% - 132px);
//         }
    
//         ul {
//             flex-direction: row;
//             width: 350px;
//             height: 22px;
//             margin-top: 0px;
//         }
    
//         a, svg{
//             font-size: 14px;
//         }

//         h3 {
//             font-size: 9px;
//         }
//     }

//     .bottomTextIcons {
//         flex-direction: row;
//         margin-bottom: 0px;
//         height: 22px;
    
//         .social-media {
//             width: 114px;
//             margin-bottom: 0px;
//             margin-right: 22px;

//             a {
//                 height: 22px;
//             }
    
//             svg {
//                 width: 22px;
//                 height: 22px;
//             }
//         }
//     }
// }



// // web version



// // .signUp {
// //     height: 560px;
// //     background: #353234;
// //     display: flex;
// //     justify-content: space-between;
// // }

// // .mobile-container {
// //     display: none;
// // }

// // .text-container {
// //     width: 68.75%;
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;


// //     h1, h3, p {
// //         color: #F6F6F6;
// //     }

// //     h1 {
// //         font-size: 48px;
// //         font-weight: 600;
// //         text-align: center;
// //     }

// //     h3 {
// //         font-size: 18px;
// //         font-weight: 400;
// //         text-align: center;
// //         width: 421.83px;
// //         padding: 0px 135px;
// //         margin-top: 9px;
// //         margin-bottom: 55px;
// //     }

// //     p {
// //         font-size: 14px;
// //         font-weight: 500;
// //         margin-bottom: 16px;
// //     }
    
// //     form {
// //         display: flex;
// //         justify-content: space-between;
// //     }

// // }

// // .input-container {
// //     width: 522px;
// //     height: 46px;
// //     background: white;
// //     border-radius: 100px;
// //     display: flex;
// //     justify-content: center;

// //     .inputBox {
// //         border: none;
// //         outline: none;

// //         font-family: 'Poppins', sans-serif;
// //         font-size: 14px;
// //         font-weight: 400;
// //         color: #353234;
// //         line-height: 46px;
// //         width: 480px;

// //     }

// //     ::placeholder {
// //         color: #989898;
// //         font-weight: 300;
// //     }
// // }

// // .submitButton-container {
// //     width: 152px;
// //     height: 46px;
// //     background: linear-gradient(-45deg, #D060BB, #F092AC);
// //     border-radius: 100px;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;

// //     .submitButton {
// //         border: none;
// //         outline: none;
// //         background: none;

// //         font-family: 'Poppins', sans-serif;
// //         font-size: 12px;
// //         font-weight: 600;
// //         color: #F6F6F6;
// //     }
// // }

// // .img-container {
// //     width: 31.25%;
// //     display: flex;
// //     align-items: flex-end;
// //     justify-content: flex-end;
// // }


// // // Bottom NavBar


// // .bottomText {
// //     height: 104px;
// //     background: white;

// //     .bottomText-content {
// //         display: flex;
// //         -webkit-box-pack: justify;
// //         justify-content: space-between;
// //         -webkit-box-align: center;
// //         align-items: center;
// //         height: 100%;
// //         width: calc(100% - 132px);
// //         margin: 0px auto;
// //         padding: 0px;
// //         transition: all 600ms ease 0s;
// //     }

// //     ul {
// //         display: flex;
// //         align-items: center;
// //         justify-content: space-between;
// //         list-style-type: none;
// //         width: 422px;
        
// //         a {
// //             padding: 0px;
// //         }
// //     }

// //     h3, a, svg{
// //         font-size: 18px;
// //         font-weight: 400;
// //         color: #353234;
// //         margin: 0px;
// //     }

// //     a, svg {
// //         text-decoration: none;

// //         // &:hover {
// //         //     text-decoration: underline;
// //         // }
// //     }

// //     svg {
// //         padding-right: 22px;
// //     }
// // }

// // .bottomTextIcons {
// //     display: flex;
// //     align-items: center;
// // }