.home-contact {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;

    .home-contact-headline {
        padding: 166px 0px;

        .home-contact-text {
            text-align: center;
            width: 564px;

            h2 {
                font-size: 60.5px;
                font-weight: 600;
                color: #000000;
                line-height: 64px;
                letter-spacing: -2px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                color: #000000;
                letter-spacing: -0.41px;

                padding-top: 15px;
                padding-bottom: 40px;
            }
        }

        .home-contact-buttons {
            text-align: center;

            .home-contact-us {
                width: 188px;
                background: #36638A;
                border-radius: 100px;
                margin: 0px auto;

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #FFFFFF;
                    letter-spacing: -0.41px;

                    padding: 15px 0px;
                }
            }
        }
    }
}