.item-listing {
    display: flex;
    justify-content: space-between;
    height: 125px;
    max-width: 460px;
    border-bottom: 1px solid #EEF1F6;

    .item-listing-source {
        display: flex;

        .item-listing-image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 105px;
            width: 105px;
            border-radius: 8px;
            overflow: hidden;
            // border: 0.5px solid #E7E7E7;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .item-listing-text {
            padding-left: 20px;

            .used-text {
                font-size: 20px;
                font-weight: 500;
                color: #000000;
                letter-spacing: -0.41px;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                color: #767678;
                letter-spacing: -0.41px;
            }
        }
    }

    .item-listing-link {

        .item-listing-amount {

            h4 {
                font-size: 20px;
                font-weight: 400;
                color: #000000;
                letter-spacing: -0.41px;
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .item-listing {
        height: 103px;

        .item-listing-source {
            .item-listing-image {
                width: 91px;
                height: 91px;
                border-radius: 5px;
            }

            .item-listing-text {
                padding-left: 12px;

                .used-text {
                    font-size: 16px;
                    letter-spacing: 0px;
                }

                p {
                    font-size: 14px;
                    letter-spacing: 0px;
                    padding-top: 2px;
                }
            }
        }

        .item-listing-link {
            display: flex;
            padding-right: 14px;

            .item-listing-amount {
                h4 {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0px;
                }
            }

            svg {
                padding-top: 5px;
                padding-left: 15px;
            }
        }
    }
}