@import "./variables";
@import "./navbar";
@import "./splash";
@import "./catalog";
@import "./searchbar";
@import "./itemtile";
@import "./footer";
@import "./filterbar";
@import "./aboutmodal";
@import "./modal";
@import "./pagenotfound";
@import "./termsofuse";
@import "./privacypolicy";
@import "./logincreate";
@import "./hamburgermodal";
@import "./accountbuttonform";
@import "./profile";
@import "./newsroom";
@import "./newsroom-articles";
@import "./newsroom-drops";
@import "./deletemodal";
@import "./editprofile";
@import "./blogarticle";
@import "./loader";
@import "./readnext";
@import "./homeSplash";
@import "./homeTrending";
@import "./homeNewsroom";
@import "./homeAccount";
@import "./homeContact";
@import "./browse";
@import "./item";

@import "swiper/swiper";
@import 'swiper/components/navigation/navigation';

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $text-color;
    background: #FFFFFF;
    margin: 0;

    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: auto;
}