// Checkbox font
.css-ahj2mt-MuiTypography-root {
    font-family: Poppins, sans-serif !important;
}

.filter-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 36px;
    border-radius: 10px;
    
    svg {
        padding-left: 7px;
        padding-bottom: 3px;
    }
}

.filter-dropdown-control {
    display: flex;
    justify-content: flex-end;

    background: transparent;
    border-style: none; 
    
    font-size: 16px;
    color: #777F93;
    font-weight: 500;
    padding: 0px;
    width: 150px;

    cursor: pointer; 
}

.filter-dropdown-control:hover {
    box-shadow: none; 
}

.filter-dropdown-menu{
    margin-top: 7px;
    border-radius: 10px;

    div:hover {
        background-color: #f6f6f6 !important;
    }
}


@media (min-width: 700px) and (max-width: 819px) {
    .filter-dropdown {
        width: calc(100% / 3.2);
        margin-left: 0px;
        background-color: #E5E9F1;
        height: 44px;

        svg {
            padding-top: 2px;
        }
    }
    
    .filter-dropdown-control {
        justify-content: center;
        font-size: 16px;
        color: #777F93;
        font-weight: 500;
        padding: 0px;
        width: calc(622px / 3.2);
    }
}

@media (min-width: 548px) and (max-width: 699px) {
    .filter-dropdown {
        width: calc(100% / 3.2);
        margin-left: 0px;
        background-color: #E5E9F1;
        height: 44px;

        svg {
            padding-top: 2px;
        }
    }
    
    .filter-dropdown-control {
        justify-content: center;
        font-size: 16px;
        color: #777F93;
        font-weight: 500;
        padding: 0px;
        width: calc(508px / 3.2);
    }
}

@media screen and (max-width: 547px) {
    .filter-dropdown {
        width: calc(100% / 3.2);
        margin-left: 0px;
        background-color: #E5E9F1;
        height: 44px;
    }
    
    .filter-dropdown-control {
        justify-content: center;
        font-size: 16px;
        color: #777F93;
        font-weight: 500;
        padding: 0px;
        width: calc(335px / 3.2);
    }
}
