.filter-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 36px;
    // background-color: #E5E9F1;
    border-radius: 8px;
    
    svg {
        padding-left: 7px;
        padding-bottom: 3px;
    }
}

.filter-dropdown:hover {
    background: #D9DEE9;
}

.filter-dropdown-control {
    display: flex;
    justify-content: flex-end;

    background: transparent;
    border-style: none; 
    
    font-size: 16px;
    color: #777F93;
    font-weight: 500;
    padding: 0px;
    width: 150px;

    cursor: pointer; 
}

.filter-dropdown-control:hover {
    box-shadow: none; 
}

.filter-dropdown-menu{
    margin-top: 7px;
    border-radius: 10px;

    div:hover {
        background-color: #f6f6f6 !important;
    }
}


@media (min-width: 700px) and (max-width: 819px) {
    .filter-dropdown {
        min-width: 200px;
        height: 40px;

        font-size: 15px;
        
        svg {
            padding-top: 2px;
        }
    }
}

@media (min-width: 548px) and (max-width: 699px) {
    .filter-dropdown {
        min-width: 162px;
        height: 35px;
        font-size: 14px;
        
        svg {
            padding-top: 2px;
        }
    }
}

@media screen and (max-width: 547px) {
    .filter-dropdown {
        min-width: 335px;
        margin-left: 0px;
    }
}
