.browse {
    background: #F7F9FC;

    .browse-header {

        .browse-header-content {
            display: flex;
            max-width: 1000px; 
            margin: auto;
        
            align-items: center;
            justify-content: space-between;
            padding: 0px 20px;
        
            .browse-filters {
                display: flex !important;
            } 
    
            .browse-header-text {
                padding: 89px 0px;
                
                h2 {
                    font-size: 36px;
                    font-weight: 600;
                    color: black;
                    line-height: 48px;
                }
            }
        }
    }

    .browse-sort-by {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0px auto;
        margin-bottom: 20px;

        h4 {
            font-size: 22px;
            font-weight: 600;
            color: black;
        }
    }
   

    .browse-body {
        display: flex;
        max-width: 1000px;
        margin: 0px auto;

        .browse-filters {
            width: 241px;
            margin-right: 12px;
        }

        .browse-catalog {
            margin-bottom: 100px;
        }
    }
}

@media (min-width: 820px) and (max-width: 1099px) {
    .browse {
        .browse-header {
            .browse-header-content {
                max-width: 747px;
            }
        }

        .browse-sort-by {
            max-width: 747px;
        }

        .browse-body {
            max-width: 747px;
        }
    }
}

@media (min-width: 700px) and (max-width: 819px) {
    .browse {
        .browse-header {
            .browse-header-content {
                max-width: 622px;
                
                .browse-header-text {
                    padding: 59px 0px;
    
                    h2 {
                        font-size: 28px;
                        line-height: 42px;
                    }
                }
            }
        }

        .browse-sort-by {
            flex-direction: column;
            max-width: 622px;

            h4 {
                font-size: 18px;
                font-weight: 500;
                color: #777f93;
                width: 100%;
                height: 44px;
                background-color: #e5e9f1;
                border-radius: 10px;
                text-align: center;
                line-height: 44px;
                margin-bottom: 10px;
            }
        }

        .browse-body {
            max-width: 622px;
        }
    }
}

@media (min-width: 548px) and (max-width: 699px) {
    .browse {
        .browse-header {
            .browse-header-content {
                max-width: 508px;
    
                .browse-header-text {
                    padding: 59px 0px;
                    
                    h2 {
                        font-size: 28px;
                        line-height: 42px;
                    }
                }
            }
        }

        .browse-sort-by {
            flex-direction: column;
            max-width: 508px;

            h4 {
                font-size: 18px;
                font-weight: 500;
                color: #777f93;
                width: 100%;
                height: 44px;
                background-color: #e5e9f1;
                border-radius: 10px;
                text-align: center;
                line-height: 44px;
                margin-bottom: 10px;
            }
        }

        .browse-body {
            max-width: 508px;
        }
    }
}

@media screen and (max-width: 547px) {
    .browse {
        .browse-header {
            .browse-header-content {
                .browse-header-content {
                    flex-direction: column;
                    align-items: flex-start;
                    max-width: 335px;
                    padding-bottom: 20px;
    
                    span {
                        display: inline !important; 
    
                        div { 
                            margin-bottom: 10px;
                        }
                    }
    
                    .browse-header-text {
                        padding: 59px 0px;
    
                        h2 {
                            font-size: 28px;
                            line-height: 42px;
                        }
                    }
                }
            }
        }

        .browse-sort-by {
            flex-direction: column;
            max-width: 335px;

            h4 {
                font-size: 17px;
                font-weight: 500;
                color: #777f93;
                width: 100%;
                height: 44px;
                background-color: #e5e9f1;
                border-radius: 10px;
                text-align: center;
                line-height: 44px;
                margin-bottom: 10px;
            }
        }

        .browse-body {
            max-width: 335px;
        }
    }
}