.hamburger-menu {
    .hamburger-modal-bg {
        position: fixed;
        transition: 800ms;
    }

    .hamburger-modal-bg.active {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        transition: 550ms;
    }

    
    .hamburger-modal {
        position: fixed;
        left: 0;
        bottom: -100%;
        width: 100vw;
        background: #F7F9FC;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        transition: 500ms;

        .hamburger-modal-content {
            padding-top: 12px;
            padding-bottom: 50px;
            padding-left: 20px;

            .hamburger-modal-header {
                .hamburger-modal-pull-tab {
                    width: 35px;
                    height: 4px;
                    border-radius: 100px;
                    background: #C7CEDE;
                    margin: auto;
                }

                h2 {
                    font-size: 23px;
                    font-weight: 600;
                    color: black;
                    line-height: 35px;
                    padding-top: 9px;
                }
            }

            .hamburger-modal-account {
                padding-right: 20px;
                padding-top: 25px;

                // Styling when user is signed out
                .hamburger-modal-account-out {
                    display: flex;
                    justify-content: space-between;

                    button {
                        width: 100%;
                        height: 45px;
                        border-radius: 10px;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: 'Poppins', sans-serif;
                        cursor: pointer;
                    }

                    .hamburger-create-account {
                        color: white;
                        background: #EC3E26;
                    }

                    .hamburger-sign-in {
                        color: #777F93;
                        background: #E5E9F1;
                        margin-left: 10px;
                    }
                }

                // Styling when user is signed in
                .hamburger-modal-account-in {
                    background: white;
                    border-radius: 10px;

                    .hamburger-modal-account-in-content {
                        padding-left: 15px;

                        .hamburger-modal-profile {
                            border-bottom: solid 1px #EEF1F6;

                            .hamburger-modal-profile-pic {
                                padding-top: 18px;

                                img, svg {
                                    display: block;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 100px;
                                    overflow: hidden;
                                }
                            }

                            h4 {
                                font-size: 17px;
                                font-weight: 600;
                                color: black;
                                padding-top: 12px;
                                padding-bottom: 14px;
                                padding-right: 15px;
                            }
                        }

                        .hamburger-modal-user-option {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height: 50px;
                            border-bottom: solid 1px #EEF1F6;
                            cursor: pointer;

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                color: black;
                            }
    
                            svg {
                                padding-right: 15px;
                                width: 7px;
                                height: auto;
                            }
                        }

                        .hamburger-modal-user-option.last {
                            border-bottom: none;

                            p {
                                color: #EC3E26;
                            }
                        }
                    }
                }
            }

            .hamburger-modal-options {
                margin-top: 20px;
                margin-right: 20px;
                border-radius: 10px;
                background: white;

                .hamburger-option {
                    padding-left: 15px;
                    cursor: pointer;

                    .hamburger-option-content {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 50px;
                        border-bottom: solid 1px #EEF1F6;

                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: black;
                        }

                        svg {
                            padding-right: 15px;
                            width: 7px;
                            height: auto;
                        }
                    }

                    .hamburger-option-content.last  {
                        border-bottom: none;
                    }
                }

            }
        }
    }

    .hamburger-modal.active {
        bottom: 0;
        transition: 400ms;
    }
}

@media (min-width: 428px) and (max-width: 767px) {
    .hamburger-menu {
        .hamburger-modal {
            width: 428px;
            margin: auto;
            right: 0px;
        }
    }
}