@import "./variables";
@import "./navbar";
@import "./splash";
@import "./catalog";
@import "./searchbar";
@import "./footer";
@import "./filterbar";
@import "./aboutmodal";
@import "./modal";
@import "./pagenotfound";
@import "./termsofuse";
@import "./privacypolicy";
@import "./logincreate";
@import "./hamburgermodal";
@import "./accountbuttonform";
@import "./profile";
@import "./newsroom";
@import "./newsroomArticles";
@import "./newsroom-drops";
@import "./deletemodal";
@import "./editprofile";
@import "./blogarticle";
@import "./loader";
@import "./readnext";
@import "./homeSplash";
@import "./homeTrending";
@import "./homeNewsroom";
@import "./homeAccount";
@import "./homeContact";
@import "./browse";
@import "./item";
@import "./itemPrice";
@import "./itemListing";
@import "./searchModal";
@import "./itemLoader";
@import "./itemCard";
@import "./sizeFilter";
@import "./currencyFilter";

@import "swiper/swiper";
@import 'swiper/components/navigation/navigation';

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $text-color;
    background: #FFFFFF;
    margin: 0;

    // width: 100vw;
    width: auto;
    height: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: auto;
}